/////////////////////////////////
//
// Library   : Numerics
// Unit      : Numerics
// File      : Numerics.template
// Author    : Franck Vedrine
// Copyright : CEA LIST - 2019-2020 - all rights reserved
//
// Description :
//   Global implementation for a soft implementation of integers, floating points, fixed points.
//

#include "Numerics/Integer.template"
#include "Numerics/Floating.template"
#include "Numerics/HostFloating.template"

